name: release
on:
  release:
    types: [created]

jobs:
  test-before-release:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        go: ["1.24.x"]
    steps:
      - uses: actions/checkout@v6
      - name: Setup Go for use with actions
        uses: actions/setup-go@v6
        with:
          go-version: ${{ matrix.go }}
      - run: go test ./...

  releases-matrix:
    name: Release Go Binary
    runs-on: ubuntu-latest
    needs: test-before-release
    strategy:
      matrix:
        goos: [linux, windows, darwin]
        goarch: [amd64, arm64]
    steps:
      - uses: actions/checkout@v6
      - name: Set VERSION env
        run: echo VERSION=$(echo ${GITHUB_REF} | rev | cut -d'/' -f 1 | rev ) >> ${GITHUB_ENV}
      - name: Set DATE env
        run: echo DATE=$(date) >> ${GITHUB_ENV}
      - uses: wangyoucao577/go-release-action@v1.53
        with:
          release_tag: ${{ github.event.release.tag_name }}
          github_token: ${{ secrets.PVCSCALER_TOKEN }}
          goos: ${{ matrix.goos }}
          goarch: ${{ matrix.goarch }}
          goversion: "1.24.1"
          pre_command: export CGO_ENABLED=0
          build_flags: -v
          ldflags: -X 'github.com/laghoule/pvcscaler/cmd.version=${{env.VERSION}}' -X 'github.com/laghoule/pvcscaler/cmd.gitCommit=${{ github.sha }}' -X 'github.com/laghoule/pvcscaler/cmd.buildDate=${{ env.DATE }}'
          extra_files: LICENSE README.md
          retry: 10
